@import 'tailwindcss';

@theme inline {
	/* Default overrides */
	--default-transition-duration: var(--default-transition-duration);

	--font-sans: var(--font-gabarito);
	--font-mono: var(--font-geist-mono);

	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-primary: var(--primary);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-border: var(--border);
	--color-ring: var(--ring);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}

	h1 {
		@apply text-5xl font-bold;
	}
	h2 {
		@apply text-4xl font-bold;
	}
	h3 {
		@apply text-3xl font-bold;
	}
	h4 {
		@apply text-2xl font-bold;
	}
	h5 {
		@apply text-xl font-bold;
	}
	h6 {
		@apply text-lg font-bold;
	}

	p,
	span,
	a {
		@apply text-lg;
	}

	code {
		@apply font-mono text-lg font-medium;
	}
}

:root {
	--default-transition-duration: 300ms;

	--background: oklch(0.2084 0.0417 266.3592);
	--foreground: oklch(0.9842 0.0034 247.8575);
	--primary: oklch(62.3% 0.214 259.815);
	--muted: oklch(0.3717 0.0392 257.287);
	--muted-foreground: oklch(0.9288 0.0126 255.5078);
	--border: oklch(0.2795 0.0368 260.031);
	--ring: oklch(62.3% 0.214 259.815);
}

@utility diagonal-lines {
	background-image: repeating-linear-gradient(
		-45deg,
		transparent,
		transparent 6px,
		var(--border) 6px,
		var(--border) 8px
	);
}
