---
const navigations = [
	{
		title: 'Home',
		href: '/',
	},
	{
		title: 'About',
		href: '/about',
	},
	{
		title: 'Writes',
		href: '/writes',
	},
	{
		title: 'Works',
		href: '/works',
	},
	{
		title: 'Equipments',
		href: '/equipments',
	},
	{
		title: 'Dashboard',
		href: '/dashboard',
	},
]
---

<nav class="sticky top-0 z-10 w-full border-b bg-background shadow">
	<div class="mx-auto max-w-3xl px-4 py-2 md:px-0">
		<ul class="flex items-center space-x-2">
			{
				navigations.map((item) => (
					<li>
						<a
							class="block px-4 py-2 transition-colors hover:bg-gray-100 dark:hover:bg-gray-800"
							href={item.href}
						>
							{item.title}
						</a>
					</li>
				))
			}
		</ul>
	</div>
</nav>
