---
const navigations = [
	{
		title: 'Home',
		href: '/',
	},
	{
		title: 'About',
		href: '/about',
	},
	{
		title: 'Blog',
		href: '/blog',
	},
	{
		title: 'Works',
		href: '/works',
	},
	{
		title: 'Equipments',
		href: '/equipments',
	},
]
---

<nav class="sticky top-0 z-10 hidden w-full border-b bg-background sm:block">
	<div class="mx-auto max-w-5xl border-x px-4 py-2 md:px-2">
		<ul class="flex items-center space-x-2">
			{
				navigations.map((item) => (
					<li>
						<a
							class="block px-4 py-2 transition-colors hover:bg-gray-100/5"
							href={item.href}
						>
							{item.title}
						</a>
					</li>
				))
			}
		</ul>
	</div>
</nav>
