---
import { Font } from 'astro:assets'
import { ClientRouter } from 'astro:transitions'

import MobileNav from '@/components/mobile-nav'
import Navigation from './navigation.astro'
import Footer from './footer.astro'

import '@/styles/global.css'

const pathname = Astro.url.pathname
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Ctros</title>

		<Font cssVariable="--font-gabarito" preload />
		<Font cssVariable="--font-google-sans-code" />
		<ClientRouter />
	</head>
	<body>
		<Navigation />
		<MobileNav client:media="(max-width: 640px)" pathname={pathname} />

		<main
			class="relative z-2 mx-auto mb-11.5 min-h-content max-w-5xl flex-1 border-x bg-background sm:mb-18.5"
		>
			<slot />
		</main>

		<Footer />
	</body>
</html>
